html {
  font-size: 22px;
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
}

p {
  font-size: 1rem; /* 22px */
  line-height: 1.5000rem; /* 33px */
  margin: 0 0 1.5rem 0;
}

h1 {
  font-size: 1.7273rem; /* 38px */
  line-height: 1.7368rem; /* 66px */
  margin-bottom: 0.8684rem;
  margin-top: 0;
}

h2 {
  font-size: 1.3636rem; /* 30px */
  line-height: 1.1000rem; /* 33px */
  margin-top: 0;
  margin-bottom: 1.1000rem;
}

h3 {
  font-size: 1.1818rem; /* 26px */
  line-height: 1.2692rem; /* 33px */
  margin-bottom: 1.2692rem;  margin-top: 0;
}
