<svg viewBox="0 0 230 230" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="jv-logo">
      <circle class="logo-circle" cx="115" cy="115" r="115"></circle>
      <text class="logo-letter-j" font-family="Brush Script MT" font-size="144" font-style="italic" font-weight="normal" letter-spacing="5">
          <tspan x="46" y="138">J</tspan>
      </text>
      <text class="logo-letter-v" font-family="Brush Script MT" font-size="144" font-style="italic" font-weight="normal">
          <tspan x="119" y="154">V</tspan>
      </text>
  </g>
</svg>
