$color-highlight: #2ECB85;

@import "vertical";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600|Merriweather:300,400,700,400italic);

$font-size-body: 2rem;
$font-size-h1:   3.8rem;
$font-size-h2:   3rem;

h1, h2, h3 {
  color: $titles;
  font-family: 'Open Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

html > body {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  @include vr-baseline($font-size-body, 1.6);
}

h1, h2 {
  font-weight: 600;
  margin-top: 0;
}

h1 {
  font-size: $font-size-h1;
  margin-bottom: vr($font-size-h1, 1);
}

h2 {
  font-size: $font-size-h2;
  margin-bottom: vr($font-size-h2, 1);
}

p {
  margin-top: 0;
  margin-bottom: vr($font-size-body, 1.2);
}

em {
  font-style: normal;
  color: $color-highlight;
}

hr {
  width: 100px;
  height: 1px;
  margin: 2rem auto;
  background-color: #eee;
  border: 0;
}
